<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học phần giảng dạy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/teacherCSS/teacherCourseList.css}">
</head>
<body>
    <header class="header">
        <p class="header-heading">Hệ thống quản lý sinh viên - Giảng viên</p>
        <div class="header-user">
            <img th:src="@{/img/avatar.png}" alt="Avatar" class="header-avatar">
            <p class="header-username" th:text="${teacher.name}">Phạm Việt Long</p>
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <div class="sidebar-heading">
                <p class="sidebar-heading-text">MENU</p>
                <i class="sidebar-heading-icon fa-solid fa-bars"></i>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/home}">
                        <i class="sidebar-item-icon fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/infor}">
                        <i class="sidebar-item-icon fa-solid fa-user"></i>
                        Thông tin cá nhân
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/course-list}" style="border-radius: 10px; background-color: var(--white-color); color: var(--text-color); box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);">
                        <i class="sidebar-item-icon fa-solid fa-book"></i>
                        Học phần
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/schedule}">
                        <i class="sidebar-item-icon fa-solid fa-calendar-days"></i>
                        Lịch giảng dạy
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/feedback}">
                        <i class="sidebar-item-icon fa-solid fa-comments"></i>
                        Gửi đánh giá
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/logout}">
                        <i class="sidebar-item-icon fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <ul class="courses-list">
                <li class="courses-item" th:each="course : ${courses}">
                    <a th:href="@{/teacher/course-list/score-management(courseId=${course.courseId})}" class="courses-item-link">
                        <div class="course-name" th:text="${course.name}">Thực tập cơ sở ngành</div>
                        <div class="course-id-wrap">Mã học phần:<p class="course-id" th:text="${course.courseId}">HP00001</p></div>
                        <div class="course-credit-wrap">Số tín chỉ:<p class="course-credit" th:text="${course.credit}">3</p></div>
                        <div class="course-students-wrap">Số sinh viên:<p class="course-students" th:text="${course.numberStudent}">65</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>