<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật thông tin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/teacherCSS/teacherInforChange.css}">
</head>

<body>
    <header class="header">
        <p class="header-heading">Hệ thống quản lý sinh viên - Giảng viên</p>
        <div class="header-user">
            <img th:src="@{/img/avatar.png}" alt="Avatar" class="header-avatar">
            <p class="header-username" th:text="${teacher.name}">Phạm Việt Long</p>
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <div class="sidebar-heading">
                <p class="sidebar-heading-text">MENU</p>
                <i class="sidebar-heading-icon fa-solid fa-bars"></i>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/home}">
                        <i class="sidebar-item-icon fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/infor}" style="border-radius: 10px; background-color: var(--white-color); color: var(--text-color); box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);">
                        <i class="sidebar-item-icon fa-solid fa-user"></i>
                        Thông tin cá nhân
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/course-list}">
                        <i class="sidebar-item-icon fa-solid fa-book"></i>
                        Học phần
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/schedule}">
                        <i class="sidebar-item-icon fa-solid fa-calendar-days"></i>
                        Lịch giảng dạy
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/teacher/feedback}">
                        <i class="sidebar-item-icon fa-solid fa-comments"></i>
                        Gửi đánh giá
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-item-link" th:href="@{/logout}">
                        <i class="sidebar-item-icon fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <p class="content-heading">Cập nhật thông tin</p>
            <form class="infor-update" th:action="@{/teacher/infor}" method="post">
                <table class="infor-update-table">
                    <tr>
                        <td>Họ và tên:</td>
                        <td th:text="${teacher.name}">Phạm Việt Long</td>
                        <td><input name="name" type="text" th:value="${teacher.name}"></td>
                    </tr>
                    <tr>
                        <td>Giới tính:</td>
                        <td th:text="${teacher.gender}">Nam</td>
                        <td>
                            <select name="gender">
                                <option value="Nam" th:selected="${teacher.gender == 'Nam'}">Nam</option>
                                <option value="Nữ" th:selected="${teacher.gender} == 'Nữ'">Nữ</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td th:text="${#dates.format(teacher.birthday, 'dd/MM/yyyy')}">15/4/2004</td>
                        <td><input type="date" name="birthday" th:value="${teacher.birthday}"></td>
                    </tr>
                    <tr>
                        <td>Quê quán:</td>
                        <td th:text="${teacher.hometown}">Tuyên Quang</td>
                        <td><input type="text" name="hometown" th:value="${teacher.hometown}"></td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td th:text="${teacher.phoneNumber}">0123456789</td>
                        <td><input type="text" name="phoneNumber" th:value="${teacher.phoneNumber}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td th:text="${teacher.email}">pvlong@gmail.com</td>
                        <td><input type="text" name="email" th:value="${teacher.email}"></td>
                    </tr>
                    <tr>
                        <td>Mật khẩu:</td>
                        <td th:text="${teacher.password}">pvlong@gmail.com</td>
                        <td><input type="text" name="password" th:value="${teacher.password}"></td>
                    </tr>
                    <input hidden type="text" name="role" th:value="${teacher.role}">
                    <input hidden type="text" name="departmentId" th:value="${teacher.departmentId}">
                </table>
                <div class="infor-update-btn">
                    <input class="btn-reset" type="button" value="Làm mới" onclick="reset()">
                    <input class="btn-submit" type="submit" value="Cập nhật">
                </div>
            </form>
        </div>
    </div>
    <script>
        function reset() {
            document.getElementsByClassName(infor-update).reset();
        }
    </script>
</body>

</html>