<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Login</h1>
	<form th:action="@{/j_spring_security_check}" method="post">
		Tài khoản: <input type="text" name="username"/>
		Mật khẩu: <input type="password" name="password"/>
		<select name="role">
			<option value="SV">Sinh viên</option>
			<option value="GV">Giảng viên</option>
			<option value="QT">Quản trị viên</option>
		</select>
		<input type="submit" value="Đăng nhập"/>
	</form>
	<h1>Login Fake</h1>
	<a th:href="@{/teacher/home}">Teacher</a>
	<br><br>
	<a th:href="@{/admin/home}">Admin</a>
</body>
</html> -->