* {
    padding: 0;
    margin: 0;
}

.header {
    height: 65px;
    background-color: #255db8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-heading {
    color: var(--white-color);
    font-size: 2rem;
    margin-left: 20px;
}

.header-user {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header-avatar {
    width: 30px;
    margin-right: 8px;
}

.header-username {
    font-size: 1.4rem;
    color: var(--white-color);
}

.container {
    display: flex;
}

.sidebar {
    width: fit-content;
    height: calc(100vh - 65px);
    background-color: #355282;
    padding: 20px;
}

.sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
}

.sidebar-heading-text {
    font-size: 1.8rem;
}

.sidebar-heading-icon {
    font-size: 1.8rem;
}

.sidebar-list {
    list-style: none;
}

.sidebar-item {

}

.sidebar-item-link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    padding: 14px 16px;
    margin-top: 24px;
}

.sidebar-item-link:hover {
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--text-color);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.sidebar-item-icon {
    width: 16px;
    margin-right: 8px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-heading {
    font-size: 2.2rem;
    margin: 20px 0;
    font-weight: bold;
    color: #255db8;
}

.infor-update {
    margin-bottom: 20px;
}

.infor-update-table {
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 8px;
}

.infor-update th,
.infor-update td {
    padding: 8px;
}

.infor-update input,
.infor-update select {
    font-size: 1.6rem;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.infor-update-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn-reset {
    color: var(--white-color);
    background-color: var(--btn-color-yellow);
    border: none !important;
    padding: 8px 12px !important;
    margin-right: 40px;
}

.btn-reset:hover {
    background-color: rgb(247, 227, 73);
    border-radius: 8px;
}

.btn-submit {
    color: var(--white-color);
    background-color: var(--btn-color-green);
    border: none !important;
    padding: 8px 12px !important;
}

.btn-submit:hover {
    background-color: rgb(72, 244, 72);
    border-radius: 8px;
}